<!DOCTYPE html>
<html lang="en">
<head>
<title>Correct Answer</title>
<div><a href="/game" style="color:red">Correct Answer, Next Puzzle</a></div>
</head>
<body>

<style> 
body {
    background: url("../img/correct.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
</style>

</body>
</html>