<!DOCTYPE html>
<html lang="en">
<head>
<title>Error</title>
<p style="color:red">Something went wrong</p>
<% if (error) { %> 
<div><a href="/game" style="color:red"><%= error %>, Go Back</a></div>
<% } %>
</head>
<body>

<style> 
body {
    background: url("../img/error.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
</style>

</body>
</html>