<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% if (level) { %> 
        <title>Level <%= level %></title>
    <% } %>
    

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        <% if (image) { %> 
        header {
            background-image: url(<%= image%>);
        }
        <% } %>
        .red {
            color: red;
        }
    </style>
</head>

<body id="page-top">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=925897904137965";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <% if (puzzle) { %> 
                <div style="background-color: rgba(255, 255, 255, 0.5);">
                    <p style="color: black">
                        <% for(var i = 0; i < puzzle.length; i++) { %>
                        <%= puzzle[i] %><br>
                        <% } %>
                    </p>
                <% } %>
                    <form enctype='application/json' action="/submit" method="post" style="color: black">
                        Answer: <input type="text" name="answer"><br><br>
                        <% if (level) { %>
                            <input type="text" hidden name="level" id="level" value=<%= level %>>
                        <% } %>
                        <input type="submit" value="Submit" style="color: black">
                    </form>
                    <br>
                    <% if (hint) { %>
                        <p style="color: black"> <%= hint %></p>
                    <% } else { %>
                        <input type="submit" value="Hint" id="hint" style="color: black">
                    <% } %>
                    <br><br>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script>
    $("#hint").click(function(){
        console.log('Hell yeah');
        var r = confirm("Are you sure? This will take the specified lives?");
        if (r == true) {
            $.post("/hint", 
            {
                level:document.getElementById('level').value
            },
            function(data, status){
                if (data == 'right') {
                    location.reload();
                }
            });   
        }
    });
    </script>

</body>

</html>
