<form enctype='application/json' action="/login" method="post" style="color: black">
    Teamname: <input type="text" name="user"><br><br>
    Password: <input type="password" name="pass"><br><br>
    <input type="submit" value="Submit">
</form>