<!DOCTYPE html>
<html lang="en">
<head>
<title>Wrong Answer</title>
<div><a href="/game" style="color:red">Wrong Answer, Go Back</a></div>
</head>
<body>

<style> 
body {
    background: url("../img/wrong.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
</style>

</body>
</html>